* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBAB7E;
background-image: linear-gradient(45deg, #FBAB7E 0%, #F7CE68 100%);

}

.idxNumSwitch{
  margin-bottom: 1.5em;
}

.wrapper {
  min-width: 400px;
  background: #FFF;
  border-radius: 3px;
  padding: 25px 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,.3)
}

.wrapper .item {
  background: #4d3605;
  margin: 5px 0;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .item .txt {
  color: #FFF;
  font-weight: 400;
  font-size: 1rem;
}

.wrapper .item .icon {
  color: #FFF;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  margin-right:10px
}

.item button {
  width: 4rem;
  margin-right: auto;
}

.trash{
  color: white;
  cursor: pointer;
  margin-block-end: auto;
  margin-left: 10px;
}

.edit{
  color: white;
  cursor: pointer;
  margin-left: auto
}

.container form{
  
  padding-bottom: 2rem;
  display: flex;
}

input[name=todo]{
  width: 70%;
  height: 2.5rem;
  font-size: larger;
  flex: 4;
}

.submitBtn{
  width: 20%;
  height: 2.5rem;
  flex:1;
  background-color: rgb(253, 100, 11);
  color: white;
  font: optional;
  border-radius: 10px;
  outline: none;
  border: none;
}

.submitBtn:disabled{
  background-color: silver;
}

.formArea{
  display: flex;
  margin-bottom: 10px;
}

.idxNum{
  font-size: large;
  color: #FFF;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
